include header.pug

h2 My app
p #{foo}
h3 #{bar}
each val, index in goods
    p #{val['id']}
    p #{val['name']}
    p #{val['cost']}
    img(
        src='images/'+val['image']
        class="test"
    )
        